[user]
    name = Drew Stephens
    email = drew@dinomite.net
[includeIf "gitdir:~/src/"]
    path = ~/src/.gitconfig
[log]
    date = relative
[alias]
    tag = tag -a
    st = status -s -b
    sl = stash list
    ci = commit
    ic = commit
    co = checkout
    br = branch
    pb = push -u origin
    f = fetch --all
    pull = pull --rebasegit --autostash
    r = remote -v
    b = branch -a
    info = remote show origin
    wdiff = diff --no-ext-diff --color-words
    l = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ad%d\n%C(green)%s\n%b%N"'
    ll = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an <%ae> %ad%d\n\t%C(blue)%cn <%ce> %ci\n%C(green)%s\n%b%N"'
    lm = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ad%d\n%C(green)%s\n%b%N"' master..
    ahead = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %ad\n%C(green)%s\n%b%N"' origin/master..HEAD
    behind = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %ad\n%C(green)%s\n%b%N"' HEAD..origin/master
    hist = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
    logtags = log --tags --simplify-by-decoration --format=format:'"%ai %d"'
    prev = checkout @{-1}
    heads = for-each-ref --sort=-committerdate refs/heads/ --format='"%(refname:short) %1B[0;36m%(authorname)%1B[m %1B[0;33m%(committerdate)%1B[m"'
    tracked = ls-tree -r master --name-only
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[diff]
    ignoreSubmodules = untracked
    tool = mvimdiff
[difftool]
    prompt = false
[difftool "mvimdiff"]
    cmd = mvim -d -f $LOCAL $REMOTE
[grep]
    extendedRegexp = true
[rebase]
    autosquash = true
[branch "master"]
    remote = origin
    merge = refs/heads/master
[github]
    user = dinomite
[blame]
    date = short
[core]
    quotepath = false
	autocrlf = input
[branch]
    autosetuprebase = always
[push]
    default = current
    ;default = simple

[hub]
    protocol = https
[credential]
	helper = osxkeychain
[init]
	templatedir = /Users/dinomite/.git_template
