Applications
Box Sync
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
Sites
SpiderOak Hive
Transporter
Virtualbox VMs
clear
mail
perl5
public_html
sandbox
tmp
.*.sw*
.BayPhotoEconomy/
.DS_Store
.MacOSX
.ROESEngineCache/
.RubyMine70/
.Trash
.WebStorm10/
.Xauthority
.android
.appcfg*
.aptitude
.aws
.bash_history
.bash_local
.bzr.log
.cache
.certs
.chef
.chirp/debug.log
.config/Nokia
.config/Transmission Remote GUI/
.config/configstore
.config/fish/fish_history
.config/fish/fishd.*
.config/gtk-2.0/
.config/pianobar/state
.config/stetic/
.config/xbuild/
.connecteddata
.cpan
.cpanm
.cpanreporter/reports-sent.db
.crontab
.cups
.dropbox
.dropbox-dist
.dropbox-master
.eclipse_keyring
.elasticbeanstalk
.erlang.cookie
.fontconfig
.fonts/encodings.dir
.fonts/fonts.dir
.fonts/fonts.list
.fonts/fonts.scale
.forward
.gem
.gnuplot_history
.gradle/caches
.gradle/native
.grain
.groovy
.heroku
.hgext/attic.pyc
.ievms
.irb_history
.irb-history
.irssi/fnotify
.keepassx
.kube
.lesshst
.local
.m2
.mysql_history
.muzak
.netrc
.netextender
.node-gyp
.npm
.offlineimap
.offlineimaprc
.org.eclipse.epp.usagedata.recording.userId
.pause
.pip/pip.log
.perlbrew
.profile
.psql_history
.pyhistory
.rediscli_history
.rnd
.roescache/
.rvm
.s3cfg*
.spinner.pid
.sqlite_history
.subversion_IDEA
.subversion/auth
.sudo_as_admin_successful
.svn
.tor
.torrc
.vagrant.d
.vim-fuf
.vim-fuf-data
.viminfo
.venvburrito/
.virtualenvs/
.xscreensaver-getimage.cache
.wireshark-etc/
.wireshark/
