[user]
	name = Drew Stephens
	email = drew@dinomite.net
[log]
    date = relative
[alias]
    tag = tag -a
    st = status -s -b
    sl = stash list
    ci = commit
    co = checkout
    br = branch
    pb = push -u origin
    f = fetch --all
    pull = pull --rebase
    r = remote -v
    b = branch -a
    info = remote show origin
    wdiff = diff --no-ext-diff --color-words
    l = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ad\n%C(green)%s\n%b%N"'
    ll = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an <%ae> %ad\n\t%C(blue)%cn <%ce> %ci\n%C(green)%s\n%b%N"'
    ahead = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %ad\n%C(green)%s\n%b%N"' origin/master..HEAD
    behind = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %ad\n%C(green)%s\n%b%N"' HEAD..origin/master
    hist = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[diff]
    ignoreSubmodules = untracked
    tool = mvimdiff
[difftool]
    prompt = false
[difftool "mvimdiff"]
    cmd = mvim -d -f $LOCAL $REMOTE
[grep]
    extendedRegexp = true
[rebase]
    autosquash = true
[branch "master"]
    remote = origin
    merge = refs/heads/master
[github]
    user = dinomite
[blame]
    date = short
[core]
    excludesfile = /Users/dinomite/.gitignore.global
	quotepath = false
[branch]
    autosetuprebase = always
[push]
    default = current
