Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
sandbox
tmp
.*.sw*
.DS_Store
.Trash
.Xauthority
.bash_history
.bash_local
.bzr.log
.cpan
.cpanm
.crontab
.cups
.dropbox
.eclipse_keyring
.erlang.cookie
.fontconfig
.gem
.gnupg
.irb_history
.lesshst
.m2
.mysql_history
.org.eclipse.epp.usagedata.recording.userId
.serverauth.2818
.ssh
.subversion_IDEA
.svn
.vim-fuf
.vim-fuf-data
.viminfo
.xscreensaver-getimage.cache
