Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
Virtualbox VMs
perl5
public_html
sandbox
tmp
.*.sw*
.DS_Store
.Trash
.Xauthority
.bash_history
.bash_local
.bzr.log
.cache
.certs
.cpan
.cpanm
.crontab
.cups
.dropbox
.eclipse_keyring
.erlang.cookie
.fontconfig
.forward
.gem
.gnupg
.irb_history
.lesshst
.m2
.mysql_history
.muzak
.org.eclipse.epp.usagedata.recording.userId
.pip/pip.log
.perlbrew
.profile
.rnd
.spinner.pid
.subversion_IDEA
.subversion/auth
.sudo_as_admin_successful
.svn
.vim-fuf
.vim-fuf-data
.viminfo
.xscreensaver-getimage.cache
.wireshark-etc/
.wireshark/
