[submodule ".vim"]
	path = .vim
	url = git@github.com:dinomite/vim.git
[submodule ".ssh"]
	path = .ssh
	url = git@bitbucket.org:dinomite/ssh.git
[submodule ".gnupg"]
	path = .gnupg
	url = git@bitbucket.org:dinomite/gnupg.git
