[user]
    name = Drew Stephens
    email = drew@dinomite.net
[alias]
    st = status -s -b
    ci = commit
    co = checkout
    br = branch
    f = fetch --all
    r = remote -v
    b = branch -a
    info = remote show origin
    wdiff = diff --no-ext-diff --color-words
    l = log --stat --format=format:'"%C(blue)%h %C(cyan)%an %C(blue)(%cn) %ai\n%Cgreen%s\n%b%N"'
    ahead = log origin/master..HEAD
    behind = log HEAD..origin/master
    tree = log --pretty=oneline --abbrev-commit --graph --decorate
    hist = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[diff]
    ignoreSubmodules = untracked
[grep]
    extendedRegexp = true
[rebase]
    autosquash = true
[branch "master"]
    remote = origin
    merge = refs/heads/master
[github]
    user = dinomite
[blame]
    date = short
[core]
	excludesfile = /Users/dinomite/.gitignore.global
