[state]
developer = False
recent0 = /Users/dinomite/Documents/Radio/Baofeng UV-5R.img
last_vendor = Baofeng
last_port = /dev/cu.PL2303-003014FA
last_model = UV-5R
warn_experimental_baofeng_uv-5r = False
last_dir = /Users/dinomite/Documents/Radio
recent1 = /Users/dinomite/Documents/Baofeng UV-5R.img
recent2 = /Users/dinomite/Downloads/BEOFANG BACKUP.img

[global]
warned_about_reporting = True

[memedit]
autorpt = True
column_order_dstarmemoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment,URCALL,RPT1CALL,RPT2CALL,Digital Code
hide_empty = True
baofeng_uv-5r_hi = 127
column_order_memoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment

