[state]
developer = False
recent0 = /Users/dinomite/Documents/Radio/Baofeng BF-888.img
last_vendor = Baofeng
last_port = /dev/cu.PL2303-003014FD
last_model = UV-5R
warn_experimental_baofeng_uv-5r = False
last_dir = /Users/dinomite/Documents/Radio
recent1 = /Users/drew/Documents/Radio/Baofeng BF-888.img
recent2 = /Users/dinomite/Documents/Radio/Baofeng UV-5R.img
last_update_check = 1595972720
window_w = 1273
window_h = 700
window_maximized = False
recent3 = /Users/dinomite/Documents/Baofeng UV-5R.img
recent4 = /Users/dinomite/Downloads/BEOFANG BACKUP.img

[global]
warned_about_reporting = True

[memedit]
column_order_dstarmemoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment,URCALL,RPT1CALL,RPT2CALL,Digital Code
hide_empty = True
baofeng_uv-5r_hi = 127
column_order_memoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment

[bandplan]
north_america = True

[noconfirm]
clone_instructions = False

